.rating-conteiner {
  padding: 6%;
  border-radius: 25px;
  background: linear-gradient(130deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  height: 24em;
  width: 25em;
  display: flex;
  align-items: start;
  position: relative;
  flex-wrap: wrap;
}

.star {
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  padding: 4%;
}

.main-text {
  color: hsl(216, 12%, 54%);
  text-align: left;
  line-height: 1.3em;
}

.submit {
     letter-spacing: 1px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    width: 50%;
    border-radius: 25px;
    border: none;
    padding: 3%;
    margin: 2% 23%;
    text-align: center;
    text-decoration: none;
}

.submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}
