.thanks-conteiner {
     padding: 11%;
    border-radius: 25px;
    background: linear-gradient(130deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    width: 23em;
    height: 21em;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Overpass, Helvetica, sans-serif;
}


.thanks-selection {
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 2%;
  margin: 7%;
}

.thanks-you {
  font-size: 2em;
  font-weight: 700;
}

.thanks-text {
  margin: 5%;
  text-align: center;
  color: hsl(217, 12%, 63%);
}
